$white: #fff;
$dark-gray: #e0e3ee;
$gray: #f4f5f9;
$light-gray: #969dc3;
$black: #2d3b87;
$light-blue: #616ca5;
$dark-blue: #2d3b87;
$green: #69c57f;

$base-border: 1px solid #e0e3ee;

$small-border-radius: 5px;
$border-radius: 10px;
$large-border-radius: 20px;

$box-shadow: 0 0 10px;

$desktop: 1200px;
$laptop: 991.98px;
$tablet: 767.98px;
$mobile: 479.98px;
